.home-background {
    background-color: #5d00e0;   
}    
    
.image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
}

.image-texts {
   position: absolute;
   bottom: 0;
   width: 100%;
   color: white;
}

.tile-box {
    padding-left: 100px;
}