.image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
}

h1 {
    margin: 0;
}

.tiles {
    /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; */
    /* align-content: center; */
    margin: 5px 12px;
}

/* .dream-input {
    margin: 15px 0 25px;
} */

.image-text {
   position: absolute;
   bottom: 0;
   width: 100%;
   color: white;
}

.tile-boxes {
    background-color: white;
    margin: 0 70px;
}