.image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
}

.home-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote{
    margin: 20px;
}

#tile-background {
    background-color: white;
    width: 87vw;
    margin: 0 auto;
    border: solid purple 2pt;
}

.home-btn {
    margin: 10px;
    font-family: 'Source code pro', cursive;
    background-color: purple;
    padding: 10px;
    color: white;
    border: solid white 2pt;
}