  .image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
}


/* 
.image-tiles {
    display: inline-block;
} */

.image-texts {
   position: absolute;
   bottom: 0;
   width: 100%;
   color: white;
}

.tile-box {
    padding-left: 100px;
}

h6 > b {
    font-size: 14pt;
}

h6 {
    font-size: 11pt;
}

.delete-btn { 
    text-decoration: none;
    color: white;
    background: blue;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 16pt;
    opacity: 0;
}


/* .home-btn {
    text-decoration: none;
    color: #5d00e0;
    background: white;
    /* height: 100px;
    width: 100px; */
    /* padding: 10px; */
    /* font-size: 18pt; */
    /* margin: 20px 5px; */

.image-container:hover .delete-btn {
    opacity: 1;
    margin: 0 auto;
}