.image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
}
.image-container {
    display: flex;
    flex-direction: row;
}

.tile-boxes {
    border: solid purple 2pt;
    width: 87vw;
}

.account-info {
    margin: 0 auto;
}

.image-texts {
   position: absolute;
   bottom: 25px;;
   width: 100%;
   color: white;
}
.delete-btn { 
    text-decoration: none;
    position: absolute;
    color: rgb(255, 6, 255);
    bottom: 0;
    left: 100px;
    background: transparent;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 16pt;
    font-weight: 700;
    opacity: 0;
} 
.edit-btn { 
    text-decoration: none;
    position: absolute;
    color: rgb(255, 6, 255);
    bottom: 0;
    left: 0;
    background: transparent;
    width: 100px;
    height: 50px;
    font-size: 16pt;
    font-weight: 700;
    opacity: 0;
} 

.tiles:hover .delete-btn{
    opacity: 1;
    margin: 0 auto;
}
.tiles:hover .edit-btn{
    opacity: 1;
    margin: 0 auto;
}