.login-page {
    height: 100vh;
    background: linear-gradient(to right, #dddddd 9%,#376c83 32%,#08a3fc 63%,#064184 75%,#757575 91%,#000000 98%,#000000 100%);
    /* background: linear-gradient(to bottom, #5d00e0 7%,#bb90fc 31%,#a76bfb 60%,#a76bfb 71%,#842dfd 89%); */
}


.login-box {
    width: 450px;
    height: 250px;
    border-radius: 5pt;
    border: solid grey 2pt;
    box-shadow: 10px 10px 49px 3px rgba(0,0,0,0.75);
    padding-top: 150px;
    margin: 0 auto;
}
/* .title {
    margin: 0;
} */

